<header>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">Chat-versity</h1>
    </div>
</header>
<main>
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="text-background">
       Combining your studies and course overviews with helpful insights of peers, higher semester pupils or friends through in-course chat systems, year-group chat-rooms and an overall HSG-Chatroom by students for students.
    </div>
  </div>
</main>